@import "partials/top-nav";
@import "partials/about-us";
@import "partials/contact-us";

$accent-background-color: #84DCC6;
$cta-color: tomato;


* {
    // transition: all .2s ease;
    flex-wrap: wrap;
}


body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.background-image img {
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
}

// .mainpage {
//     background-image: url('../images/woman-jogging.jpg');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
// }



/*---------*\
BEGIN main container content
\*---------*/

.container .row .column {
    display: flex;
    justify-content: space-around;
}


section.tabs.container {
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin-top: 20rem;
    padding: 2rem;
}

 .tab {
    display:none;
}

ul.tab-links.row {


    & li {

    }

    & a {
        border: .1rem solid $accent-background-color;
        display: flex;
        padding: 0.5rem;
        // width: 225px;
        justify-content: space-around;
        color: white;
        width: 21rem;
        align-items: center;

        &:hover {
            background-color: $accent-background-color;
            box-shadow: 0px 0px 50px $accent-background-color;
        }
    }
}

.tab-content {
    width: 100%;
}


