body {
    margin: 0;
    padding: 0;
}

.mainpage {
    background-image: url('../images/woman-jogging.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-nav {
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.logo {
    
}



.nav-links {
    list-style-type: none;
    display: flex;
    align-content: center;
    margin-bottom: 0;
    & li {
        margin-right: 40px;

        &:last-of-type {
        	margin-right: 0;	
        }
    }

    & a {
        text-decoration: none;
    }
}

.submenu {
    display: none;
}

.main-content {
    display: flex;
    height: 645px;

    & .container {
        background-color: rgba(0,0,0,0.5);
        height: 400px;
        // min-width: 500px;
        padding: 20px;
        color: white;
        margin: 15% auto 0;
    }
}

h4.hours {
    text-align: center;
    font-size: 1.5em;
}



