/*---------*\
BEGIN main container styling
\*---------*/





$accent-background-color: #84DCC6;
$cta-color: tomato;

.container {
    display: flex;
    justify-content: space-around;
}


section.tabs.container {
    background-color: rgba(0,0,0,0.6);
    color: white;
    margin-top: 10rem;
    padding: 2rem;
    display: flex;
}

 .tab {
    display: flex;
}

.active {
    background-color: $accent-background-color; 
}

ul.tab-links {
	display: flex;
	width: 100%;
	justify-content: space-around;



    & li {
    	list-style: none;
    	display: flex;
        border: .1rem solid $accent-background-color;
        width: 21rem;
    }

    & a {
        display: flex;
        padding: 0.5rem;
        justify-content: space-around;
        color: white;
        align-items: center;
        width: 100%;

        &:hover {
            background-color: $accent-background-color;
            box-shadow: 0px 0px 50px $accent-background-color;
        }
    }
}

.tab-content {
    width: 100%;
}

@media all and (max-width: 768px) {
    .tabs.container {
        flex: 1;
        flex-direction: column;

        & li {
            flex: inherit;
            flex-direction: inherit;
            align-items: center;
            margin: .5rem;
            width: 100%;
        }

        .hour-details, .maps {
            flex-basis: 100%;
        }

    }



    ul.tab-links, .tab-content {
        flex: 1;
        flex-direction: column;
    }
}
/*---------*\
END main container styling
\*---------*/
















// /*---------*\
// BEGIN main container styling
// \*---------*/

// .container .row .column {
//     display: flex;
//     justify-content: space-around;
// }


// section.tabs.container {
//     background-color: rgba(0,0,0,0.6);
//     color: white;
//     margin-top: 20rem;
//     padding: 2rem;
// }

//  .tab {
//     display:none;
// }

// ul.tab-links.row {


//     & li {

//     }

//     & a {
//         border: .1rem solid $accent-background-color;
//         display: flex;
//         padding: 0.5rem;
//         // width: 225px;
//         justify-content: space-around;
//         color: white;
//         width: 21rem;
//         align-items: center;

//         &:hover {
//             background-color: $accent-background-color;
//             box-shadow: 0px 0px 50px $accent-background-color;
//         }
//     }
// }

// .tab-content {
//     width: 100%;
// }


// /*---------*\
// END main container styling
// \*---------*/
